/*Estilos Gerais*/
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*Cabeçalho*/
header {
  background: #e0e7ef;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
}

nav .menu-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  display: block;
  color: white;
  cursor: pointer;
}

nav ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ffe4ec; 
}

/*Banner Produtos*/
.banner-produtos {
  text-align: center;
  padding: 2rem 1rem;
  background: #ffe4ec; 
  border-bottom: 3px solid #2563eb;
}

.banner-produtos h1 {
  margin: 0;
  font-size: 2rem;
  color: #2563eb;
}

.banner-produtos p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #555;
}

main {
  flex: 1;
}

footer {
  background: #2563eb;
  text-align: center;
  padding: 1rem;
  color: #2563eb;
  font-weight: bold;
}

button {
  background-color: #2563eb
}



